/**/
[v-cloak] {
	display: none;
}
body::-webkit-scrollbar{
	width: 10px;
	height: 10px;
	background-color: #252A2F;
}
body::-webkit-scrollbar-track{
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.2);*/
	border-radius: 5px;
	background-color: #fff;
}
body::-webkit-scrollbar-thumb{
	width: 5px;
	height: 5px;
	border-radius: 5px;
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
	background-color: #252A2F;
}
body{
	/*background:#2e6da4;*/
	position: absolute;
	left: 0;
	font-family: "Microsoft YaHei UI";
	overflow-x: hidden;
	/*overflow-x:hidden;*/
	/*overflow-y: scroll;*/
}
#root{
	position: relative;
	/*padding-bottom: 20px;*/
}
#root_inner{
	/*background:#9acfea;*/
	margin-left: 20px;
	margin-top: 20px;
	/*position: absolute;*/
	/*left: 20px;*/
}
#title{
	width: 100%;
	height: 50px;
	line-height: 50px;
	border: solid 1px #252A2F;
	font-size: 20px;
	font-weight: bolder;
	text-align: center;
}
#content{
	width: 100%;
	border: solid 1px #252A2F;
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 20px;
	padding-bottom: 30px;
}

#content>div{
	margin-left: 30px;
	position: relative;
	margin-top: 20px;
}
#content>div:nth-child(1){
	margin-top: 30px;
}
#content>div>span{
	width: 90px;
	line-height: 30px;
	vertical-align: top;
	position: absolute;
	left: 0;
}
#list {
	margin-top: 30px;
}
table{
	border-collapse: collapse;
}
#list table,#list table tr,#list table tr th,#list table tr td{
	border: solid 1px #DBDBDB;
}
#list table tr{
	height: 40px;
	line-height: 40px;
}
#list table tr th,#list table tr td{
	line-height: 40px;
	text-align: center;
}
.list_img>img{
	vertical-align: middle;
}
.edit{
	color: #ff6700;
	cursor: pointer;
}
#turn_page{
	height: 30px;
	/*background: #2e6da4;*/
}
.button_turn_page{
	width: 80px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 14px;
	border: solid 1px #DBDBDB;
	cursor: pointer;
}
.button_turn_page:nth-child(2){
	border-left: none;
	border-right: none;
}
.button_turn_page::selection{
	background: none;
}