<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>城市云生活预约管理系统</title>
        <link href="../../images/ucrlogo.ico" rel="shortcut icon"/>
        <link rel="stylesheet" type="text/css" href="../../styles/css/flex.css">
        <link rel="stylesheet" type="text/css" href="../../styles/content_1/content_reservation_image_add.css">
</head>
<body :style="{width: root_width+'px'}">
<div id="root" class="r-n-fs-fs" :style="{width: root_width-30+'px'}">
        <div id="root_inner" class="c-n-fs-fs" :style="{width:root_width-40+'px'}" v-cloak>
                <div id="title" v-cloak>图片添加</div>
                <div id="content">
                        <div id="list_title" class="r-n-fs-c" v-cloak>
                                <span v-cloak>图片列表</span><img @click="add_show" src="../../images/add.png" width="20" height="20" alt="">
                        </div>
                        <div id="select_img_type">
                                <select name="select_img" id="select_img" @change="select_type_click(image_type_current_index)" v-model="image_type_current_index">
                                        <option :value="index" v-for="(item,index) in image_type" :key="index">{{item}}</option>
                                </select>
                        </div>
                        <div id="list" class="r-n-fs-c" v-show="!isEmpty">
                                <table border="1" cellspacing="0"  cellpadding="0" align="center" :style="{width:root_width-110+'px'}">
                                        <tr>
                                                <th v-cloak>ID</th>
                                                <th v-cloak>图片</th>
                                                <th v-cloak colspan="2">编辑</th>
                                        </tr>
                                        <tr v-for="(item,index) in image_type_current" :key="index" >
                                                <td v-cloak>{{item.id}}</td>
                                                <td class="list_img" v-cloak><img :src="item.src" alt="" height="60"></td>
                                                <td class="edit" @click="update_(index)" v-cloak>修改</td>
                                                <td class="edit" @click="delete_(index)" v-cloak>删除</td>
                                        </tr>
                                </table>
                        </div>
                        <hr v-show="add_item_show" style="display:none"/>
                        <div id="image_add_content" class="r-n-fs-fs" v-show="add_item_show" style="display:none">
                                <span>类型图</span><img :src="img_url" height="120" alt="">
                                <input id="select_button" type="button" onclick="document.getElementById('file_select').click();" :value="img_select_btn_value"/>
                                <!--<span>{{path}}</span>-->
                                <input id="file_select" @change="file_select" type="file">
                        </div>
                        <hr v-show="add_item_show" style="display:none"/>
                        <div id="submit" class="r-n-c-c" v-show="add_item_show" style="display:none">
                                <button type="submit"  :style="{background:isChanged?'#c6ff80':'#FFF'}" @click="submit" v-cloak>{{submit_status}}</button>
                        </div>
                </div>
        </div>
</div>
</body>
<script type="text/javascript" src="../../scripts/jquery/jquery-3.2.1.js"></script>
<script type="text/javascript" src="../../scripts/vue/vue.js"></script>
<script type="text/javascript" src="../../scripts/content_1/content_reservation_image_add.js"></script>
<script type="text/javascript">
</script>
</html>